/* General style */
body {
  background-color:#09151f;
  background: url("../../images/background-new.jpg") no-repeat top center fixed;
  color: #939ead;
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-size: 13px;
}
#page {
  margin:40px auto;
}
.thumb {
    width: 91px;
}
h1, h2, h3, h4, h5 {
  color:#939ead;
  font-family:Roboto, sans-serif;
  font-weight:bold;
}
h1 { font-size: 24px }
h2 { font-size: 20px }
h3 { font-size: 16px }
h4 { font-size: 13px }
h5 { font-size: 12px }

input,
button,
select,
textarea {
  font-family:inherit !important;
  font-size:12px !important;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  font-size:13px !important;
}

.search input,
.search button,
.search select,
.search textarea {
  color:inherit !important;
  font-weight:normal !important;
}

/* !General sty;e */

#header {
  background:#3D4C54;
  padding:0 0px;
}

#logo {
  padding:14px 50px;
    float: left;
}
/* menu */
#mast-head {
  float:left;
  max-width:240px;
  width:100%;
}
.nobot {
  margin-bottom:0 !important;
}
.navbar .nav > li > a {
  color: #fff !important;
  border-right:1px solid #485a63;
  padding:15px !important;
}
.caret {
  display:none !important;
}
.caret {
  border-top:4px solid #FFF !important;
}

.dropdown .caret {
  margin-left:10px !important;
}
.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus {
  color:#fff !important;
  background:#303e45 !important;
}
ul.sub-menu, ul.dropdown-menu,
ul.sub-menu ul.sub-menu{
	display:none;
}
ul.dropdown-menu ul.dropdown-menu {
  top:0;
  left:100%;
  display:none;
}
ul.dropdown-menu {
  width:221px;
  background:#303e45;
  box-shadow:none;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  -o-box-shadow:none;
  border-radius:0;
  -moz-border-radius:0;
  -webkit-border-radius:0;
  -o-border-radius:0;
  padding:0;
  margin-top:0;
  border:none;
  border-bottom:3px solid #81b752;
}

.dropdown-menu:before,
.dropdown-menu:after {
  display:none !important;
}

ul.dropdown-menu a {
  color:#a9b9c1 !important;
  border-bottom:1px solid #37474f;
  padding-top:10px !important;
  padding-bottom:9px !important;
}

ul.dropdown-menu a:hover,
ul.dropdown-menu a:active,
ul.dropdown-menu a:focus {
  background:#2c393f !important;
  color:#fff !important;
}
ul.nav li.dropdown:hover > ul.dropdown-menu {
  display:block !important;
}
.navbar .btn,
.navbar .btn-group {
  margin-top:10px !important;
}

/* !menu */

/* 1st row */

#headline {
  background:#ebebeb;
  padding:30px 0px 0;
}
#headline .post {
  background:#FFF;
  margin-bottom:30px;
  padding:10px;
}

#headline .post a {
  color:#555E6B;
}

#headline .post h3 {
  font-size:13px;
  font-weight:normal;
  line-height:16px;
  margin:0 0 0.1em;
  direction: rtl;
}

#headline .post p {
  color:#939EAD;
  font-size:12px;
  direction: rtl;
  margin:0;
}

#headline .post img {
  float:right;
  margin-left:10px;
  float: left;
}

#headline .entry {
    display: inline-block;
    float: right;
}

/* intr section
****************/

#intr {
  background:#f7f7f7;
  border-bottom:1px solid #d4d4d4;
  border-top:1px solid #d4d4d4;
  height:45px;
  padding:0 0px;
  overflow:hidden;
}

.brnews {
  max-height:45px;
  padding:9px 0;
}

.brnews a {
  color:#555E6B;
}

.brnews .entry {
  display:inline-block;
}

.brnews h3 {
  background:url("../../images/brnews-bg1.png") no-repeat;
  background-size:110px;
  color:#FFF;
  float:left;
  font-size:14px;
  line-height:1;
  margin:0;
  padding:6px 19px 7px;
  width:115px;
}

#scroller li {
  list-style:none;
}

#scroller li .title {
  font-weight:bold;
}

#scroller li .title:after {
  content:"»";
  font-weight:normal;
  margin:0 3px 0 15px;
}

#scroller li p {
  display:inline-block;
  margin:2px 0 0;
}

#intr .search {
  float:left;
  direction: rtl;
  width: 100%
}

#intr .search input[type="text"] {
  border:medium none;
  box-shadow:none;
  direction: rtl;
  height:39px;
  width:100%;
}

.searchform input[type="text"] {
  height:39px;
  border-radius:0 0 0 0 !important;
  border:1px solid #d4d4d4; 
  vertical-align:top;  
  box-shadow:none !important;
  transition:none !important;
}

.widget .searchform input[type="text"]:focus{
  border:1px solid #d4d4d4;  	
}

#intr input#searchsubmit {
  position:relative;
  float: left;
}

/* searchform */

#searchform p {
  position:relative;
}

#searchform input[type="text"] {
  border-radius:0 0 0 0;
  font-weight:normal !important;
  height:39px;
  margin:0;
}

.search form {
  background:#FFF;
  border-left:1px solid #d4d4d4;
    width: 83%;
}

.entry-content form#searchform {
	border-left:none;
} 

.entry-content form#searchform input[type="text"] {
  border-radius:0 0 0 0;	
  height: 31px;
  vertical-align:top;
}

.entry-content form#searchform input#searchsubmit{
	margin-left:-5px !important;
}

.widget .search form#searchform,
.footer-widget .search form#searchform {
  background:none !important;
  border-left:none;
}

input#searchsubmit {
  background:url("../../images/search-bg1.png") no-repeat;
  border:none;
  height:41px;
  width:44px;
  text-indent:-9999px;
}

/* end searchform */

/* ! 1st row */

#content {
  background:#FFF;
  padding:40px 40px 60px;
}
/* 2nd row */

#slide-left,
#slide-right,
ul#tabnav li {
    width:100%;
}
#slide-right {
    margin-left:0;
}

/* Slide right content */

#slide-right h3 {
  background:#3d4c54;
  color:#FFF;
  font-size:16px;
  font-weight:normal;
  margin:0;
  padding:11px 0;
  text-align:center;
  direction: rtl;
}

#slide-right ul {
  background:#f2f2f2;
  margin:0;
  padding:5px;
  counter-reset:li;
  /* Initiate a counter */;
}

#slide-right ul li {
  background:#FFF;
  margin:13px 12px;
  padding:1em;
  list-style:none;
  position:relative;
    direction: rtl;
  /* Create a positioning context */;
}

#slide-right ul li:last-child {
  display:none;
}

#slide-right ul li:after {
  background:#FF8C8C;
  color:#FFFFFF;
  position:absolute;
  right:0;
  text-align:center;
  top:0;
  width:8%;
}

#slide-right h4 {
  font-weight:normal;
  margin:0 5px 0 0;
}
/* tab widget */

#tabwidget ul {
  
  margin:0;
  list-style:none;
}

ul#tabnav li {
  float:left;
  width:33.33%;
}

ul#tabnav h3 {
  font-size:17px;
  font-weight:normal;
  margin:0;
}

ul#tabnav li img {
  margin-right:7px;
}

ul#tabnav li a {
  color:#FFF;
  background:#3d4c54;
  border-right:1px solid #485A63;
  display:block;
  direction: rtl;
  padding:11px 0;
  text-align:center;
}

ul#tabnav li a:last-child {
  border-right:none;
}

ul#tabnav li a:hover,
ul#tabnav li a.selected {
  background:#81b752;
  text-decoration:none;
}

#tab-content {
  border:1px solid #eee;
}

ul.recent-tab li {
  padding:15px;
  border-bottom:1px solid #eee;
}

.recent-tab li:last-child {
  border-bottom:none;
}

ul.recent-tab li p {
  margin:0;
}

ul.recent-tab img {
  float:left;
  margin-right:1em;
}

ul.recent-tab h4 {
  margin:0;
}

#tab3 {
  padding:0;
}

#tab3 ul li {
  padding:15px;
  border-bottom:1px solid #eeeeee;
}

/* end tab widget */

/* jPage custom style
***********************/

.holder {
  background:#f8f8f8;
  height:48px;
  margin:0 !important;
  position:relative;
}

.holder a {
  font-size:12px;
  cursor:pointer;
  margin:0 !important;
  color:#333;
}

.holder a:hover {
  background-color:#222;
  color:#fff;
}

.holder a.jp-previous,
.holder a.jp-next {
  background:url("../../images/bx-bg.png") no-repeat !important;
  display:inline-block;
  height:27px;
  text-indent:-9999px;
  position:absolute;
  top:10px;
  width:30px;
  margin-right:0 !important;
}
.holder a.jp-previous {
  margin-right:15px;
  right:40px;
}

.holder a.jp-next {
  background-position:-30px center !important;
  margin-left:15px;
  right:10px;
}

.holder a.jp-current,
a.jp-current:hover {
  color:#FF4242;
  font-weight:bold;
}

.holder a.jp-disabled,
a.jp-disabled:hover {
  color:#bbb;
}

.holder a.jp-current,
a.jp-current:hover,
.holder a.jp-disabled,
a.jp-disabled:hover {
  cursor:default;
  background:none;
}

.holder span {
  margin:0 5px;
}

/**************************/
/* end of jPage custom style
***********************/
.holder2 {
  background:#f8f8f8;
  height:48px;
  margin:0 !important;
  position:relative;
}

.holder2 a {
  font-size:12px;
  cursor:pointer;
  margin:0 !important;
  color:#333;
}

.holder2 a:hover {
  background-color:#222;
  color:#fff;
}

.holder2 a.jp-previous,
.holder2 a.jp-next {
  background:url("../../images/bx-bg.png") no-repeat !important;
  display:inline-block;
  height:27px;
  text-indent:-9999px;
  position:absolute;
  top:10px;
  width:30px;
  margin-right:0 !important;
}

.holder2 a.jp-previous {
  margin-right:15px;
  right:40px;
}

.holder2 a.jp-next {
  background-position:-30px center !important;
  margin-left:15px;
  right:10px;
}

.holder2 a.jp-current,
a.jp-current:hover {
  color:#FF4242;
  font-weight:bold;
}

.holder2 a.jp-disabled,
a.jp-disabled:hover {
  color:#bbb;
}

.holder2 a.jp-current,
a.jp-current:hover,
.holder2 a.jp-disabled,
a.jp-disabled:hover {
  cursor:default;
  background:none;
}

.holder2 span {
  margin:0 5px;
}

.holder1 {
  background:#f8f8f8;
  height:48px;
  margin:0 !important;
  position:relative;
}

.holder1 a {
  font-size:12px;
  cursor:pointer;
  margin:0 !important;
  color:#333;
}

.holder1 a:hover {
  background-color:#222;
  color:#fff;
}

.holder1 a.jp-previous,
.holder1 a.jp-next {
  background:url("../../images/bx-bg.png") no-repeat !important;
  display:inline-block;
  height:27px;
  text-indent:-9999px;
  position:absolute;
  top:10px;
  width:30px;
  margin-right:0 !important;
}
.holder1 a.jp-previous {
  margin-right:15px;
  right:40px;
}

.holder1 a.jp-next {
  background-position:-30px center !important;
  margin-left:15px;
  right:10px;
}

.holder1 a.jp-current,
a.jp-current:hover {
  color:#FF4242;
  font-weight:bold;
}

.holder1 a.jp-disabled,
a.jp-disabled:hover {
  color:#bbb;
}

.holder1 a.jp-current,
a.jp-current:hover,
.holder a.jp-disabled,
a.jp-disabled:hover {
  cursor:default;
  background:none;
}

.holder1 span {
  margin:0 5px;
}
/***************************/
/********************/
/* ! 2nd row */

/* 3rd row */

/* BXSlider
************/

ul.bxslider,
ul.gallery {
  margin:0;
}

.bx-wrapper .meta {
  border-bottom:1px solid #eee;
  border-top:1px solid #eee;
  padding:0.5em 0;
}

.bx-controls {
  position:absolute;
  left:0;
  top:1px;
}

.bx-prev,
.bx-next {
  background:url("../../images/bx-bg.png") no-repeat;
  display:inline-block;
  height:27px;
  width:30px;
}

.bx-next {
  background-position:-30px;
}

.bx-wrapper h4 {
  font-weight:normal;
}
.bx-prev:hover,
.bx-next:hover,
a.jp-previous:hover,
a.jp-next:hover {
  background:url("../../images/bx-bg-hover.png") no-repeat !important;
}

.bx-next:hover,
a.jp-next:hover {
  background-position:-30px center !important;
}

#gallery {
  position:relative;
}

.post-icon {
  float:left;
  margin-right:10px;
}

/*******************/
#home-top {
  position:relative;
  margin:0 0 5.7em;
}
#home-top .title span {
  background:
  #e9ecee;color:
  #3e4548;
}
/* Widgets
*************/

.widget {
  margin:0 0 30px;
}

.widget.widget_rss ul,
.widget.widget_archive ul,
.widget.widget_nav_menu ul,
.widget.widget_recent_comments ul,
.widget.widget_recent_entries ul,
.widget.widget_pages ul,
.widget.widget_meta ul,
.widget.widget_categories ul {
  margin:0;
  list-style:none;
}

.widget.widget_rss ul li,
.widget.widget_archive ul li,
.widget.widget_nav_menu ul li,
.widget.widget_recent_comments ul li,
.widget.widget_recent_entries ul li,
.widget.widget_pages ul li,
.widget.widget_meta ul li,
.widget.widget_categories ul li {
  padding:10px 0;
  border-bottom:1px solid #eeeeee;
}

.widget.widget_rss ul li:first-child,
.widget.widget_archive ul li:first-child,
.widget.widget_nav_menu ul li:first-child,
.widget.widget_recent_comments ul li:first-child,
.widget.widget_recent_entries ul li:first-child,
.widget.widget_pages ul li:first-child,
.widget.widget_meta ul li:first-child,
.widget.widget_categories ul li:first-child {
  padding-top:0;
}

/* General Widgets */

.widget .searchform input {
  width: 85%;
}
.widget .searchform input#searchsubmit {
  position: absolute;
  right: 0;
}


.latest-post {
  border-bottom:1px solid #eee;
  padding:0.7em 0;
}

.latest-post:last-child {
  border-bottom:none;
  padding:0.7em 0 1.5em;
}

.latest-post:first-child {
  padding:0 0 0.7em;
}

.latest-post img {
  margin-right:1em;
  height: 93px;
}

.latest-post h4 {
  margin:0 0 5px;
  line-height:1;
}

.latest-post h4 a {
  color:#555E6B;
}

.latest-post .excerpt {
  clear:left;
  padding:5px 0;
}


/* Tipo-tipo
*************/

h1.entry-title {
  font-size:16px;
}

h3.title,
h1.entry-title {
  color:#3E4548;
  border-bottom:1px solid #eee;
  /* font-family:Noticia Text,serif;
  */

  font-weight:normal;
  margin:0 0 30px;
  line-height:2em;
}

h3.title {
  font-size:14px;
}

.title span,
h1.entry-title span {
  background:#E9ECEE;
  ;
  padding:0 15px;
  display:inline-block;
}
.entry h4 {
    margin: 0px;
}
h4.post-title {
  color:#555e6b;
  margin:10px 0;
  line-height:1.3em;
  position:relative;
}
h4.p]ost-title1 {
    margin: 0;
    float: right;
}
h4.post-title a {
  color:#555e6b;
}

/* ! 3rd row */

/*  4th row */

/* Misc */

a.image_thumb_zoom {
  position:relative;
  overflow:hidden;
  display:block;
}

a.image_thumb_zoom img {
  position:relative;
  -webkit-transition:all 0.5s ease-in;
  -moz-transition:all 0.5s ease-in;
  -o-transition:all 0.5s ease-in;
  transition:all 0.5s ease-in;
}

a.image_thumb_zoom:hover img {
  -webkit-transform:scale(1.2);
  -moz-transform:scale(1.2);
  -o-transform:scale(1.2);
  transform:scale(1.2);
}


  /* Home
**************/



#home-middle .date,
#home-bottom .date,
.latest-posts .date {
  color:#939EAD;
  font-weight:normal;
  position:absolute;
  left: 2px;
}
.row4date{
    position: absolute;
    left: 2px;
}
.meta span.date,
span.date,
.post-time {
  color:#939EAD;

}

#home-middle .post,
#home-bottom .post,
.latest-posts  .post {
  border-bottom:1px solid #eee;
  padding:1em 0;
}

.latest-posts  .post {
  border-bottom:1px solid #eee;
  padding:1em 0;
}

    
#home-middle .post:first-child,
.latest-posts  .post:first-child {
  margin:0 0 10px;
  padding:0;
}

#home-bottom .post:first-child {
  padding:0 0 1em;
}

#home-middle  .post:last-child,
#home-bottom  .post:last-child,
.latest-posts:last-child,
.latest-posts  .post:last-child {
  border-bottom:none;
}

#home-middle .entry h4,
#home-bottom .entry h4,
.latest-posts .entry h4 {
  margin:0;
}

#home-middle .entry .date,
#home-bottom .entry .date,
.latest-posts .entry .date {
  position:static;
}

#home-middle .entry p,
#home-bottom .entry p,
.latest-posts .entry p {
  margin:0 0 5px;
}

#home-middle .entry img,
#home-bottom .entry img,
.latest-posts .entry img {
  float:left;
  margin-right:7px;
}

#home-top .title span {
  background:
  #e9ecee;color:
  #3e4548;
}
#home-middle .left .title span {
  background: #e9ecee;
  color: #3e4548;
}
#home-middle .right .title span {
  background: #e9ecee;
  color: #3e4548;
}
#home-bottom .title span {
  background: #e9ecee;
  color: #3e4548;
}
#gallery .title span {
  background: #e9ecee;
  color: #3e4548;
}
  ul#tabnav li a {
    padding-left:15px;
    text-align:left;
  }
  .footer-widget {
    width:42.9282% !important;
  }
  .footer-widget:first-child {
    margin-left:2.76243% !important;
  }
  .block5 {
    width:100% !important;
  }
  .block5 .footer-logo {
    width:auto;
  }
}
.date{
    font-style: oblique;
    font-size: 13px
}
.description{
    margin: 0;
}



/* 5th row */
    
.video-box h3 {
  margin:10px 0 30px;
}

.video-box ul {
  margin:5px 0 0 0;
  list-style:none;
}

.video-box ul li {
  float:left;
  margin-left:1.64%;
  width:23.77%;
}

.video-box ul li:first-child {
  margin-left:0;
}

.video-box iframe {
  max-width:100%;
}

/* ! 5th row */

/* footer */

.block5 .footer-text {
  float:left;
  width:66%;
}
.footer-widget {
    width:42.9282% !important;
  }
  .footer-widget:first-child {
    margin-left:2.76243% !important;
  }
  .block5 {
    width:100% !important;
  }
  .block5 .footer-logo {
    width:auto;
  }
/* Footer 
***************/

#footer-widgets {
  background:#f1f1f1;
  padding:20px 40px;
}

.footer-widget h3.title {
  margin:20px 0;
}

#footer-widgets .title span {
  background:#fff;
  color:#3e4548;
}

#site-info {
  background:#23323f;
  font-size:12px;
  padding:15px 40px;
}

#site-info p {
  margin:0;
  color: #ffffff;
}

ul#menu-footer {
  margin:0;
}

#footer-nav li {
  list-style:none;
  float:left;
}

#footer-nav li:after {
  content:"|";
}

#footer-nav li:last-child:after {
  content:"";
}

#footer-nav li a {
  color:#555e6b;
  padding:0 0.5em;
  transition:all 0.8s linear 0s;
  -webkit-transition:all 0.8s linear 0s;
  -moz-transition:all 0.8s linear 0s;
  -o-transition:all 0.8s linear 0s;
}

#footer-nav li a:hover {
  color:#fff;
  text-decoration:none;
}

#footer-nav li:first-child a {
  padding-left:0;
}

#footer-nav ul.sub-menu,
#footer-nav .dropdown .caret,
#footer-nav .children {
  display:none;
}
.socmed {
  padding:10px 0;
}

.socmed ul {
  margin:0;
  list-style:none;
}

.socmed ul li {
  border-left:1px solid #e3e3e3;
  float:left;
  text-align:center;
  width:32.7%;
}

.socmed ul li:first-child {
  margin-left:0;
}

.socmed ul li:last-child {
  border-right:1px solid #e3e3e3;
}

.socmed h4 {
  margin:10px 0 0;
}

.socmed p {
  color:#758188;
  font-size:13px;
}
.tagcloud:before,
.tagcloud:after {
  content:"";
  display:table;
  line-height:0;
}

.tagcloud:after {
  clear:both;
}

.tagcloud a {
  float:left;
  background-color:#fff;
  -webkit-transition:all 0.8s linear 0s;
  -moz-transition:all 0.8s linear 0s;
  -o-transition:all 0.8s linear 0s;
  transition:all 0.8s linear 0s;
  color:#555E6B;
  font-size:12px !important;
  margin:0 5px 5px 0;
  padding:3px 9px;
}

.tagcloud a:hover {
  background-color:#0088CC;
  color:#FFF;
  text-decoration:none;
}
.block5 .footer-logo {
  float:left;
  border-right:1px solid #e3e3e3;
  min-height:45px;
  margin-right:4%;
  padding:4% 4% 4% 0;
  width:25.6%;
}

.block5 .footer-text {
  float:left;
  width:66%;
}


/* input style*/
input{
	display: inline-block;
	height: 20px;
	padding: 4px 6px;
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 20px;
	color: #555555;
	vertical-align: middle;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.tagcloud_f:before,
.tagcloud_f:after {
  content:"";
  display:table;
  line-height:0;
}

.tagcloud_f:after {
  clear:both;
}

.tagcloud_f a {
  float:right;
  background-color:#ccc;
  -webkit-transition:all 0.8s linear 0s;
  -moz-transition:all 0.8s linear 0s;
  -o-transition:all 0.8s linear 0s;
  transition:all 0.8s linear 0s;
  color:#555E6B;
  font-size:12px !important;
  margin:0 5px 5px 0;
  padding:3px 9px;
}

.tagcloud_f a:hover {
  background-color:#0088CC;
  color:#FFF;
  text-decoration:none;
}
.bg_username{
	background-color: #FFFFFF;
	padding: 10px;
	box-shadow: 0px 0px 8px #ccc;
}

.moretag a {
  color:#fff;
  background:#767b7e;
  padding:5px 25px;
  text-align:center;
  transition:all 0.8s linear 0s;
  clear: both;
}
.home .moretag, .page-template-magazine-php .moretag, .page-template-magazine-home-php .moretag {
  float: right;
  margin: 10px 0;
  padding: 5px 10px;
  width: auto;
}

.moretag a:hover,
.moretag a:focus {
  color:#fff;
  background:#555;
  text-decoration:none;
}

